{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}shoushi/teacher.css">
{template "content","currentbanner"}
{template "content","hisnav"}
{template "content","current"}
<div class="container">
<div class="tab tabs" role="tabpanel">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		{pc:content action="category" catid="$catid" num="2" siteid="$siteid" order="listorder ASC"}
		<li role="presentation" class="active"><a href="#Section1" aria-controls="home" role="tab" data-toggle="tab">{$data[32][catname]}</a></li><li role="presentation"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">{$data[33][catname]}</a></li>
		{/pc}
	</ul>
	<!-- Tab panes -->
	<div class="tab-content tabs">
		<div role="tabpanel" class="tab-pane fade in active" id="Section1">
			<div class="row tea-cont">
				
				{pc:content action="lists" catid="32" num="3" siteid="$siteid" order="listorder ASC" moreinfo="1"}
				{loop $data $r}
					<div class="col-md-4">
						<img src="{$r[thumb]}" alt="{$r[title]}" class="img-rounded">
						<p><span>{$r[title]}</span>  {$r[professor]}</p>
						<p>{$r[job]}</p>
						<p>{$r[description]}</p>
					</div>
				{/loop} 
				{/pc}
			</div>
		</div>
		<div role="tabpanel" class="tab-pane fade" id="Section2">
			<div class="tea-title"><span>{$data[33][catname]}</span></div>
			<div class="row tea-right">
			{pc:content action="lists" catid="33" num="3" siteid="$siteid" order="listorder ASC" moreinfo="1"}
			{loop $data $v}
				<div class="col-md-4">
				  	<img src="{$v[thumb]}" alt="{$v[title]}" class="img-circle">
				  	<p>{$v[title]}</p>
				  	<p>{$v[description]}</p>
				</div>
			{/loop}
			{/pc}
			</div>
		</div>
	</div>
</div>
</div>
</div>
<div class="list-fot"><img src="{IMG_PATH}shoushi/list-fot.png" class="img-responsive" alt="Responsive image"></div>
{template "content","footer"}