<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>

    <!-- Bootstrap -->
    <link href="{CSS_PATH}shoushi/bootstrap.min.css" rel="stylesheet">
    <link href="{CSS_PATH}shoushi/include.css" rel="stylesheet">
    <script src="{JS_PATH}shoushi/jquery.min.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid cont">
      <div class="container">
        <div class="top-left left">欢迎进入北京首实教育科技有限公司！</div>
        <div class="top-right right"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;&nbsp;<span><a href="">{WEB_PHONE}</a>&nbsp;|&nbsp;<a href="">English</a></span></div>
      </div>
    </div>
<div class="head-all">
  <div class="head-log-nav">
    <div class="container">
        <div class="head-log-nav-bg">
        <div class="left"><span class="logo"><img src="{IMG_PATH}shoushi/logo.png" alt=""></span></div>
        <div class="right">
          <div id="top-nav" style="overflow:hidden;">
              <div class="navi_body">
                      <div class="navi_head">
                          <div style="margin-left:auto; margin-right:auto;">
                          {pc:content action="category" catid="0" num="15" siteid="$siteid" order="listorder ASC"}
                              <span>
                                <p class="navi_title">
					<a href="{siteurl($siteid)}">
						<span class="navi-cont">
						<i>首页</i>
						<i>home</i>
						</span>
					</a>
				</p>
                              </span>
                              {loop $data $r}
                              <span>
                                <p class="navi_title">
				{pc:content action="category" catid="$r[catid]" num="1" siteid="$siteid" order="listorder ASC" return="tmp"}
				{loop $tmp $s}
				<a href="{$s[url]}">
						<span class="navi-cont">
						<i>{$r[catname]}</i>
						<i>{$r[catname_en]}</i>
						</span>
				</a>
				{/loop}
				{/pc}
				</p>
                                {if $r[arrchildid]}
                                  {pc:content action="category" catid="$r[catid]" num="15" siteid="$siteid" order="listorder ASC" return="data2"}
                                  {loop $data2 $v}
                                    <p><a href="{$v[url]}">{$v[catname]}</a></p>
                                  {/loop}
                                  {/pc}
                                {/if}
                              </span>
                              {/loop}
                          {/pc}
                          </div>
                      </div>
                  </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script>
	$(function () {
		for (var i=0; i<$('.navi_title').length; i++) {	
			$(".navi_title").eq(i).find('a').addClass('n'+ i);
		}
		
		$('.navi_title a').hover (function () {
			nav_title_move (this,'-36px');
		}, function () {
			nav_title_move(this, 0)
		})
		
		function nav_title_move (ele, marginNum) {
			$(ele).find('i').first().stop().animate({
				marginTop: marginNum
			}, 300);
		}

	});
</script>

