{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}shoushi/eduidea.css">
{template "content","currentbanner"}
{template "content","hisnav"}
{template "content","current"}
	<div class="eduidea" style="width: 1200px;">
		<ul>
	        <li>
	        	<p>体验在快乐中学习</p>
	        	<p>Make learing fun</p>
	        	<p><span><img src="{IMG_PATH}shoushi/edu-icon.png" alt=""></span></p>
	        </li>
	        <li>
	        	<p>遵循孩子的发展步伐</p>
	        	<p>Follow the child's development</p>
	        	<p><span><img src="{IMG_PATH}shoushi/edu-icon.png" alt=""></span></p>
	        </li>
	        <li>
	        	<p>每个孩子都有无限潜能</p>
	        	<p>Every child unlimited potential</p>
	        	<p><span><img src="{IMG_PATH}shoushi/edu-icon.png" alt=""></span></p>
	        </li>
	        <li>
	        	<p>每个孩子都是独特个体</p>
	        	<p>Each child is a unique individual</p>
	        	<p><span><img src="{IMG_PATH}shoushi/edu-icon.png" alt=""></span></p>
	        </li>
		</ul>
	</div>
</div>
{template "content","footer"}
