{template "content","header"}
<link rel="stylesheet" href="{CSS_PATH}shoushi/profile.css">
<style>
.sm-title-title{
	background-image: url(/statics/images/shoushi/png/jiaoyulinian.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}
</style>
{template "content","currentbanner"}
{template "content","hisnav"}
{template "content","current"}
	<div class="childedu">
		<ul>
		{pc:content action="lists" catid="$catid" num="10" order="listorder DESC,id DESC" moreinfo="1"}
		{php $i=0;}
		{loop $data $r}
			<li>
				<div class="child-text {if $i%2==0} child-left {else} child-right {/if}">
					<p>{$r[title]}</p>
					<p>{$r[description]}</p>
				</div>
				<div class="child-img {if $i%2==0} child-right {else} child-left {/if}"><p><img src="{$r[thumb]}" alt="{$r[title]}"></p></div>
			</li>
		{php $i++;}
		{/loop}
		{/pc}
		</ul>
	</div>
</div>
{template "content","footer"}